# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Brackeys GJ.iml
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../:\GameJam\BrackeysGJ\BGJ\Brackeys_GJ_TBD\Brackeys GJ\.idea\.idea.Brackeys GJ\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
